<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebDiffer - login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css">
    <link href="/webjars/font-awesome/5.10.1/css/all.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="layout :: header"></div>
    <p class="lead pt-1 pb-1">
        Application for monitoring changes on specified web pages
    </p>
    <div th:if="${logout}" class="row justify-content-md-center">
        <div class="alert alert-success" role="alert">You have been signed out</div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form th:action="${oauthUrl}" method="get">
                <button type="submit" class="btn btn-outline-primary">
                    <img src="/static/btn_google_dark_normal_ios.svg" alt="Login with Google"/>
                    Sign in with Google
                </button>
            </form>
        </div>
    </div>
    <div th:if="${errorMessage}" class="row justify-content-md-center pt-1">
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}">...</div>
    </div>
    <div class="row align-items-end pt-3">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                You can use this application with absolutely no warranty and at your own risk! Nothing is guaranteed.
                Google account is used to authenticate user and send notification emails.
                You can read <a href="/privacy">privacy policy</a>.
            </div>
        </div>
    </div>
</div>
</body>
</html>
