<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebDiffer - invitation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css">
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
    <link href="/webjars/font-awesome/5.10.1/css/all.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="layout :: header"></div>
    <h1>User profile</h1>
    <div class="row justify-content-md-center">
        <div class="card" style="width: 18rem;">
            <img th:src="${pictureUrl}" class="card-img-top" alt="Avatar">
            <div class="card-body">
                <h5 class="card-title" th:text="|${firstName} ${lastName}|">...</h5>
                <p class="card-text" th:text="${additionalInfo}">...</p>
            </div>
        </div>
    </div>

    <div th:if="${!active}" class="row justify-content-md-center pt-3">
        <div class="alert alert-warning" role="alert">
            Account is not activated. You need to add activation-code to form below.
        </div>
    </div>
    <div th:if="${!active}" class="row justify-content-md-center">
        <div class="col-md-auto">
            <form action="/profile" method="post" class="form-inline">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-group mr-1">
                    <input type="text" class="form-control" name="activationCode" placeholder="activation code here">
                </div>
                <button type="submit" class="btn btn-outline-primary">Activate account</button>
            </form>
        </div>
    </div>
    <div th:if="${!active and #strings.equals(param.result, 'invalid-code')}"
         class="row justify-content-md-center pt-3">
        <div class="alert alert-danger" role="alert">
            Invalid code. Please try again.
        </div>
    </div>
    <div th:if="${active and #strings.equals(param.result, 'activated')}" class="row justify-content-md-center pt-3">
        <div class="alert alert-success" role="alert">
            Your account have been activated. You can continue to <a href="/">home page</a>.
        </div>
    </div>
</div>
</body>
</html>
