<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebDiffer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css">
    <link href="/webjars/font-awesome/5.10.1/css/all.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="/webjars/momentjs/2.24.0/moment.js"></script>
    <script src="/static/bootbox-v5.3.2/bootbox.all.min.js"></script>
    <script src="/static/utils.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="layout :: header"></div>
    <h1>WebPage</h1>
    <div class="row" id="loading">
        <div class="alert alert-info" role="info">Loading...</div>
    </div>
    <div class="row d-none" id="alert">
        <div class="alert alert-danger" role="alert">
            ...
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="row d-none" id="content">
                <form>
                    <div class="form-group row">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group row">
                        <label for="url">URL</label>
                        <input type="text" class="form-control" id="url">
                    </div>
                    <div class="form-group row">
                        <label for="url">Selector</label>
                        <input type="text" class="form-control" id="selector">
                    </div>
                    <div class="form-group row">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="enabled">
                            <label class="custom-control-label" for="enabled">Toggle to enable or
                                disable</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="created">Created</label>
                        <input type="text" class="form-control" readonly id="created">
                    </div>
                    <div class="form-group row">
                        <label for="lastRun">Last run</label>
                        <input type="text" class="form-control" readonly id="lastRun">
                    </div>
                    <div class="form-group row">
                        <div class="btn-group" role="group" aria-label="Actions">
                            <button type="button" class="btn btn-primary" id="update">
                                <i class="far fa-edit pr-1"></i>
                                Save
                            </button>
                            <button type="button" class="btn btn-primary" id="delete">
                                <i class="far fa-trash-alt pr-1"></i>
                                Delete
                            </button>
                            <button type="button" class="btn btn-primary" id="execute">
                                <i class="far fa-play-circle pr-1"></i>
                                Execute
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm">
            <table class="table" id="diffs">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Info</th>
                    <th scope="col">Created</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">No data</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

<script>
    $(function () {
        let url = new URLSearchParams(window.location.search);
        let webPageId = url.get('id');
        let webPageName = '...';

        let tableSummary = function (tBody, text) {
            tableRow(tBody, text, 3);
        };

        let fillForm = function (data) {
            $("#name").val(data.name);
            $("#url").val(data.url);
            $("#selector").val(data.selector);
            $("#enabled").prop('checked', data.enabled);
            $("#created").val(formatZonedDateTimeToStr(data.created));
            $("#lastRun").val(formatZonedDateTimeToStr(data.lastRun));
        };

        let exceptionInfo = function (item) {
            if (item['@type'] === 'ERROR') {
                return `${item.exceptionName} id=${item.exceptionUuid}`
            } else {
                return null;
            }
        };

        let itemIcon = function (item) {
            if (item['@type'] === 'ERROR') {
                return $('<i>')
                    .addClass("fas")
                    .addClass("fa-bug")
                    .attr("title", "General error");
            } else if (item['@type'] === 'INVALID_SELECTOR') {
                return $('<i>')
                    .addClass("fas")
                    .addClass("fa-exclamation-triangle")
                    .attr("title", "Selector not found");
            } else if (item['@type'] === 'CONTENT') {
                return $('<i>')
                    .addClass("far")
                    .addClass("fa-object-group")
                    .attr("title", "Content from selector");
            } else if (item['@type'] === 'STOP') {
                return $('<i>')
                    .addClass("fas")
                    .addClass("fa-ban")
                    .attr("title", "Execution stopped");
            } else {
                throw 'Invalid type' + item['@type'];
            }
        };

        let fillTable = function (diffs) {
            let tBody = $("#diffs").find('tbody');

            tBody.find("tr").remove();

            if (diffs.length === 0) {
                tableSummary(tBody, 'No data!');
            } else {
                diffs.forEach(function (item, i) {
                    let tr = $('<tr>');
                    tr.append(
                        $('<th>')
                            .attr('scope', 'row')
                            .append(itemIcon(item))
                    );
                    tr.append($('<td>').text(coalesce(
                        item.content,
                        item.selector,
                        item.countErrors,
                        exceptionInfo(item))));
                    tr.append($('<td>').append(createDateTimeSpan(formatZonedDateTime(item.created))));
                    tBody.append(tr);
                });
            }
        };

        let loadWebPage = function (id) {
            let tBody = $("#diffs").find('tbody');
            tableSummary(tBody, 'Loading data...');

            $.ajax({
                type: "GET",
                url: `/api/user/me/web-page/${id}`,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#loading").addClass('d-none');
                    $("#content").removeClass('d-none');
                    webPageName = data.name;
                    fillForm(data);
                    fillTable(data.diffs)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    onError(jqXHR, textStatus, errorThrown,
                        function () {
                            $("#loading").addClass('d-none');
                        }, {
                            404: function () {
                                $("#alert").removeClass('d-none');
                                $("#alert div").text('WebPage not found.');
                            },
                            '*': function (defaultErrorMessage) {
                                $("#alert").removeClass('d-none');
                                $("#alert div").text(defaultErrorMessage);
                            }
                        });
                }
            })
        };

        let createWebPagePayload = function () {
            let name = $("#name").val() || '';
            let url = $("#url").val() || '';
            let selector = $("#selector").val() || '';
            let enabled = $("#enabled:checked").val();

            return {
                name: name,
                url: url,
                selector: selector,
                enabled: enabled === 'on'
            };
        };

        $("#update").on({
            click: function (event) {
                event.preventDefault();

                $.ajax({
                    type: "POST",
                    url: `/api/user/me/web-page/${webPageId}`,
                    data: JSON.stringify(createWebPagePayload()),
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        onError(jqXHR, textStatus, errorThrown, jQuery.noop(), {
                            404: function () {
                                bootbox.alert('WebPage not found.');
                            },
                            '*': function (defaultErrorMessage) {
                                bootbox.alert(defaultErrorMessage);
                            }
                        });
                    }
                });
            }
        });
        $("#delete").on({
            click: function (event) {
                event.preventDefault();

                deleteWebPage(webPageId, webPageName, function (data, textStatus, jqXHR) {
                    window.location.assign('/');
                });
            }
        });
        $("#execute").on({
            click: function (event) {
                event.preventDefault();

                executeWebPage(webPageId, webPageName, function (data, textStatus, jqXHR) {
                    bootbox.alert("WebPage diff executed. Run can take some time.", function () {
                        window.location.reload();
                    });
                });
            }
        });

        loadWebPage(webPageId);
    });
</script>
</body>
</html>
